.container-fluid, .container {
	text-align: center;
	background-color: #f7f7f9;
	border: solid rgba(0, 0, 0, 0.07);
    border-width: 1px;
    border-radius: 5px;
}

.container {
  width: 50%;
}

.container img {
	height: 35px;
	width: 35px;
}