* {
  padding: 0;
  margin: 0;
}

.navbar-nav {
  margin-left: 10%;  
}

.navbar-nav img {
  height: 46px;
  margin: 2px;
  margin-right: 20px;
} 

.navbar-nav li {
  font-size: 16px;
  height: 60px;
}

.navbar-nav li:hover {
  background-color: #eee;
}

.navbar-nav a {
  float: left;
}

.header {
  height: 60px;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 5px;
  background-color: rgb(251, 251, 251);
}

.main-container {
  border: 1px solid rgb(230, 230, 230);
  border-radius: 5px;
  margin-top: 5px;
  margin-left: 10%;
  width: 80%;
  padding: 5px;
  padding-top: 22px;
  background-color: rgb(251, 251, 251);
  min-height: 120px;
}

.table {
  background-color: white;
  margin: auto;
  text-align: center;
  width: 25%; 
}

table img {
  height: 35px;
}

th {
  text-align: center;
}

tr { 
  line-height: 37px;
}

td {
  padding-left: 10px;
  padding-right: 10px; 
}

th, 
td {
  border: 1px solid rgb(230, 230, 230);
}

.active {
  background-color: #eee;
}

#search-icon {
  float:right;
}

#search-icon:hover {
  cursor: pointer;
}

.glyphicon-remove {
  cursor: pointer;
}

.pagination-centered {
  text-align: center;
}

#spinner {
  position: absolute;
  left: 45%;
  height: 75px;
  width: 75px;
}

.details {
  padding-left: 5%;
}