<div>
  
  <img src="img/loading_spinner.gif" ng-show="champL.data.loading" id="spinner">
  <table ng-hide="champL.data.loading" class="table table-bordered" >
  	<th>
  	  <p ng-hide="champL.searchEnabled">Championships<i class="glyphicon glyphicon-search" id="searchIcon" ng-show="!champL.searchEnabled" ng-click="champL.searchEnabled = true"></i></p>
      <div class="input-group" ng-hide="!champL.searchEnabled">
        <input type="text" placeholder="Search" ng-model="searchchamp" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-remove" ng-show="champL.searchEnabled" ng-click="champL.searchEnabled = false; searchchamp = ''"></i></span>
      </div>
    </th>
    <tr ng-repeat="championship in (champL.data.championships | filter:{name:searchchamp}).slice((champL.currentPage-1)*10, champL.currentPage*10)">
      <td>
        <img src="https://footballbet.com.ua/table/embl/{{championship.image}}"/>
        <a href="#!championships/{{championship.id_championship}}">{{championship.name}}</span></a>
      </td>
    </tr>
  </table>
  <div class="pagination-centered">
    <pagination ng-hide="(champL.data.championships | filter:{name:searchchamp}).length <= 10 || champL.data.loading" total-items="(champL.data.championships | filter:{name:searchchamp}).length" ng-model="champL.currentPage" first-text = "<<" last-text=">>" previous-text="<" next-text=">" max-size="5" class="pagination-sm" boundary-links="champL.data.championships.length > 30" rotate="false" items-per-page="10"></pagination>
  </div>

</div>