<div ng-controller="ChampionshipsCtrl as cctrl">
  <input type="text" ng-model="searchchamp" class="form-control">
  <table class="table table-bordered" ng-repeat="championship in cctrl.championships.slice(((cctrl.currentPage-1)*cctrl.itemsPerPage), ((cctrl.currentPage)*cctrl.itemsPerPage)) | filter:{name:searchchamp}">
    <td>
      <img src="https://footballbet.com.ua/table/embl/{{championship.image}}"/>
      {{ championship.name }}
    </td>
  </table>

  <pagination ng-hide="cctrl.totalItems <= 10" total-items="cctrl.totalItems" ng-model="cctrl.currentPage" first-text = "<<" last-text=">>" previous-text="<" next-text=">" max-size="cctrl.maxSize" class="pagination-sm" boundary-links="false" rotate="false" items-per-page="cctrl.itemsPerPage"></pagination>

</div>