<table class="table table-bordered">
  <thead>
    <tr>
      <th>Date</th>
      <th>Championship</th>
      <th>Match</th>
    </tr>
  </thead>  	
  <tbody>
  	<tr>
  	  <td>
        {{matchD.data.matches[matchD.idmatch].date}}
  	  </td>
  	  <td>
        <a href="#!championships/{{matchD.data.matches[matchD.idmatch].id_championship}}">
        {{matchD.data.matches[matchD.idmatch].title}}
  	  </td>	
  	  <td>	
        <a href="#!teams/{{matchD.data.matches[matchD.idmatch].idFirstTeam}}">
          {{matchD.data.matches[matchD.idmatch].firstTeam}} 
        </a>
        {{matchD.data.matches[matchD.idmatch].firstTeamGoal}}:{{matchD.data.matches[matchD.idmatch].secondTeamGoal}} 
        <a href="#!teams/{{matchD.data.matches[matchD.idmatch].idSecondTeam}}">
          {{matchD.data.matches[matchD.idmatch].secondTeam}}
        </a>
      </td>
    </tr>
   </tbody>
</table>