<div>
	
  <img src="img/loading_spinner.gif" ng-show="matchL.data.loading" id="spinner">
  <table ng-hide="matchL.data.loading" class="table table-bordered">
    <th>
      <p ng-hide="matchL.searchEnabled">Matches<i class="glyphicon glyphicon-search" id="searchIcon" ng-show="!matchL.searchEnabled" ng-click="matchL.searchEnabled = true"></i></p>
      <div class="input-group" ng-hide="!matchL.searchEnabled">
        <input type="text" placeholder="Search" ng-model="searchmatch" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-remove" ng-show="matchL.searchEnabled" ng-click="matchL.searchEnabled = false; searchmatch = ''"></i></span>
      </div>
    </th>

    <tr ng-repeat="match in (matchL.data.matches | filter:{bothTeams:searchmatch}).slice((matchL.currentPage-1)*10, matchL.currentPage*10)">
      <td>
        <img src="https://footballbet.com.ua/teams/country/{{match.image}}"/>
        <a href="#!matches/{{$index}}">{{match.bothTeams}}</a>
      </td>
    </tr>
  </table>

  <div class="pagination-centered">
    <pagination ng-hide="(matchL.data.matches | filter:{bothTeams:searchmatch}).length <= 10 || matchL.data.loading" total-items="(matchL.data.matches | filter:{bothTeams:searchmatch}).length" ng-model="matchL.currentPage" first-text = "<<" last-text=">>" previous-text="<" next-text=">" max-size="5" class="pagination-sm" boundary-links="matchL.data.matches.length > 30" rotate="false" items-per-page="10"></pagination>
  </div>
  
</div>