<div class="details">
  
  <img src="https://footballbet.com.ua/teams/embl/{{teamD.data.teams[teamD.data.indexArr[teamD.idteam]].emblema}}"/>
  <p ng-if="teamD.data.teams[teamD.data.indexArr[teamD.idteam]].name">
    <strong>Назва команди: </strong>{{teamD.data.teams[teamD.data.indexArr[teamD.idteam]].name}}</p>
  <p ng-if="teamD.data.teams[teamD.data.indexArr[teamD.idteam]].second_name">
    <strong>Друга назва: </strong>{{teamD.data.teams[teamD.data.indexArr[teamD.idteam]].second_name}}</p>
  <p ng-if="teamD.data.teams[teamD.data.indexArr[teamD.idteam]].city">
    <strong>Місто: </strong>{{teamD.data.teams[teamD.data.indexArr[teamD.idteam]].city}}</p>
  <p ng-if="teamD.data.teams[teamD.data.indexArr[teamD.idteam]].foundation_year">
    <strong>Рік заснування: </strong>{{teamD.data.teams[teamD.data.indexArr[teamD.idteam]].foundation_year}}</p>
  <p ng-if="teamD.data.teams[teamD.data.indexArr[teamD.idteam]].coach">
    <strong>Тренер: </strong>{{teamD.data.teams[teamD.data.indexArr[teamD.idteam]].coach}}</p>
  <p ng-if="teamD.data.teams[teamD.data.indexArr[teamD.idteam]].president">
    <strong>Президент: </strong>{{teamD.data.teams[teamD.data.indexArr[teamD.idteam]].president}}</p>
  <p ng-if="teamD.data.teams[teamD.data.indexArr[teamD.idteam]].home_stadion">
    <strong>Домашній стадіон: </strong>{{teamD.data.teams[teamD.data.indexArr[teamD.idteam]].home_stadion}}</p>
  <p ng-if="teamD.data.teams[teamD.data.indexArr[teamD.idteam]].id_championship">
    <strong>ID чемпіонату: </strong>{{teamD.data.teams[teamD.data.indexArr[teamD.idteam]].id_championship}}, 
    <a href="#!championships/{{teamD.data.teams[teamD.data.indexArr[teamD.idteam]].id_championship}}">Деталі чемпіонату</a></p>
  <p ng-if="teamD.data.teams[teamD.data.indexArr[teamD.idteam]].off_site"><strong>Веб сторінка: </strong>
    <a href="{{teamD.data.teams[data.indexArr[teamD.idteam]].off_site}}">{{teamD.data.teams[teamD.data.indexArr[teamD.idteam]].off_site}}</a></p>
  <p ng-if="teamD.data.teams[teamD.data.indexArr[teamD.idteam]].title"><strong>Трофеї: </strong></p>
    <p ng-if="teamD.data.teams[teamD.data.indexArr[teamD.idteam]].title" ng-bind-html="teamD.data.teams[teamD.data.indexArr[teamD.idteam]].title"></p>
 
</div>